:host {
  display: block;
  min-height: 100vh;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid #7aa2f7; /* contour bleu Tokyo Night */
  background-color: #1a1b26;
  box-shadow: 0 0 15px rgba(122, 162, 247, 0.4);
  box-sizing: border-box;
}

.main {
  display: flex;
  height: 100vh;          
  overflow: hidden;       
}

.page-content {
  flex: 1;                 /* prend tout le reste de la largeur */
  padding: 1.5rem;
  overflow-y: auto;        /* scroll si le contenu dépasse */
  scrollbar-width: none;
  background-color: #1a1b26;
}

.banner-container {
  width: 250px;
  height: 100vh;          
  position: sticky;
  top: 0;
  overflow: hidden;
  border-right: 2px solid #7aa2f7;
}

/* mobile style */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .banner-container {
    width: 100vw;
    height: 11vh;
    background-color: #24283b;
    border-bottom: 2px solid #7aa2f7;  
  }

  :host {
    padding: 0;
    overflow: hidden;
    margin: 0.2rem;
  }

  .page-content {
    padding: 0;
  }
}