<div class="banner">
  <h1>Profile</h1>

  <!-- Image ronde -->
  <div class="avatar-container">
    <img src="/CircleAvatar.png" alt="Avatar" class="avatar">
  </div>

  <!-- Texte de présentation -->
  <div class="bio">
    <p>Cybersecurity enthousiast, I like to play CTFs and sharp my skills through personnal project.</p>
    <p>This blog is all about sharing my projects and write ups to help other as well to help me remember and document my research</p>
  </div>

  <!-- Liens/menu -->
  <nav class="banner-nav">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About me</a>
  </nav>
</div>