<main class="home-container">
  <h1 class="title">Welcome on my blog !</h1>
  @if(mbService.isMobile()) {
    <div class="presentation">
      <p>Cybersecurity enthousiast, I like to play CTFs and sharp my skills through personnal project</p>
      <p>This blog is about sharing my projects and write-ups to help others, and to help me remember and document my research</p>
    </div>
  }
  <p class="subtitle"><u>My last posts</u></p>
  
  <ul class="articles-list">
    <li *ngFor="let post of posts" class="article-card">
      <a [routerLink]="['/posts', post.id]" class="card-link">
        <div class="card-content">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-summary">{{ post.summary }}</p>
        </div>
      </a>
    </li>
  </ul>
</main>